body{
	font-family: 'Baumans';
	text-align: left;
	margin-top: 5px;
	letter-spacing: 2.5px;
	font-size: 10pt;
}

a{
	font-family: 'Baumans';
	text-align: left;
	margin-top: 5px;
	letter-spacing: 4px;
	font-size: 7pt;

}
.module{
	width: 300px;
	height: 300px;
	background-color: red;
	
}

.descriptor{
	margin-top: 10px;
	letter-spacing: 2.5px;
	font-size: 8pt;
	width: 300px;
	float: left;
}

.align{
	width: 300px;
	height: 368px;
	float: left;
	padding: 10px;

}

.middle{
	float: left;
}

#left1{
	padding-left:0px;
	margin-left: 10px;
}


#WeekTwo{
	float: left;
	width: 100%;
}

#WeekThree{
	float: left;
	width: 100%;
}

#WeekFour{
	float: left;
	width: 100%;
}

#WeekFive{
	float: left;
	width: 100%;
}
